:root {
  --active-color: #191919;
  --inactive-color: #26292C;
  --off-white: #FEFEFE;
  --light-gray: #B8C1C1;
}

*,::after,::before{box-sizing:border-box;margin:0;padding:0}
body,main .background .row div.active{background:var(--active-color)}
body,main .contents .rule,main .contents .rule--new button{font-family:'Roboto Mono',monospace}
html{font-size:16px}
main{overflow:hidden;display:flex;align-items:center;justify-content:center}
main .background{height:100vh;position:relative;top:-6px;width:101vw}
main .background .row{height:.5rem}
main .background .row div{display:inline-block;height:.5rem;width:.5rem}
main .background .row div.inactive{background:var(--inactive-color)}
main .contents{box-sizing:border-box;overflow:hidden;padding:8%;position:absolute}
main .contents .about{display:flex;flex-direction:column;margin-bottom:.5rem}
main .contents .about p{color:var(--off-white);font-size:1.25em;line-height:1.2}
main .contents .about p.links a{color:var(--off-white);transition:color 350ms ease}
main .contents .about p.links a:hover{color:var(--light-gray)}
main .contents .rule{color:var(--light-gray);font-size:.75rem;line-height:1.2;text-align:left}
main .contents .rule--current a{color:var(--off-white);transition:color 350ms ease}
main .contents .rule--current a:hover{color:var(--light-gray)}
main .contents .rule--new button{background:0 0;border:none;color:var(--off-white);font-size:inherit;padding:0;transition:color 350ms ease}
main .contents .rule--new button:hover{color:var(--light-gray);cursor:pointer}