@import 'reset';
@import 'colors';

html {
  font-size: 16px;
}

body {
  background: $active;
  font-family: 'Roboto Mono', monospace;
}

main {
  overflow: hidden;

  .background {
    height: 100vh;
    position: relative;
    top: -6px;
    width: 101vw;

    .row {
      height: .5rem;

      div {
        display: inline-block;
        height: .5rem;
        width: .5rem;

        &.active {
          background: $active;
        }

        &.inactive {
          background: $inactive;
        }
      }
    }
  }

  .contents {
    box-sizing: border-box;
    height: 100vh;
    left: 0;
    overflow: hidden;
    padding: 4rem;
    position: absolute;
    top: 0;
    width: 100%;

    @media (max-width: 414px) {
      padding: 1%;
    }

    .about {
      display: flex;
      flex-direction: column;
      margin-bottom: .5rem;

      p {
        color: $offwhite;
        font-size: 1.25em;
        line-height: 1.2;

        &.links {
          a {
            color: $offwhite;
            transition: color 350ms ease;

            &:hover {
              color: $light-gray;
            }
          }
        }
      }
    }

    .rule {
      color: $light-gray;
      font-family: 'Roboto Mono', monospace;
      font-size: .75rem;
      line-height: 1.2;
      text-align: left;

      &--current {
        a {
          color: $offwhite;
          transition: color 350ms ease;

          &:hover {
            color: $light-gray;
          }
        }
      }

      &--new {
        button {
          background: transparent;
          border: none;
          color: $offwhite;
          font-family: 'Roboto Mono', monospace;
          font-size: inherit;
          padding: 0;
          transition: color 350ms ease;

          &:hover {
            color: $light-gray;
            cursor: pointer;
          }
        }
      }
    }
  }
}
